body {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #C61535;
    font-size: 22px;
}

.overlay {
    display: flex;

    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.spinner {
    stroke-dasharray: 100%;
    stroke-dashoffset: 200%;
    animation: animate forwards linear infinite 1s;
} 

.details {
    position: absolute;

    top: 1em;
    left: 1em;
    font-size: 16px;
    color: #FFFFFF;
    font-family: "sans-serif";
}

canvas {
    position: absolute;

    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

@keyframes animate {
    100% {
        stroke-dashoffset: 0;
    } 
}

/* TODO: Add error and info */